/*John's css file
Only initiating on 10/01/18*/

body{
	font-family: 'Roboto', sans-serif, arial, Helvetica;
}

.slide-controller:nth-child(1):checked ~ .wrapRecProducts .slideList{--selected-item: 0;}
.slide-controller:nth-child(2):checked ~ .wrapRecProducts .slideList{--selected-item: 1;}
.slide-controller:nth-child(3):checked ~ .wrapRecProducts .slideList{--selected-item: 2;}
.slide-controller:nth-child(4):checked ~ .wrapRecProducts .slideList{--selected-item: 3;}
.slide-controller:nth-child(5):checked ~ .wrapRecProducts .slideList{--selected-item: 4;}
.slide-controller:nth-child(6):checked ~ .wrapRecProducts .slideList{--selected-item: 5;}
.slide-controller:nth-child(7):checked ~ .wrapRecProducts .slideList{--selected-item: 6;}
.slide-controller:nth-child(8):checked ~ .wrapRecProducts .slideList{--selected-item: 7;}
.slide-controller:nth-child(9):checked ~ .wrapRecProducts .slideList{--selected-item: 8;}
.slide-controller:nth-child(10):checked ~ .wrapRecProducts .slideList{--selected-item: 9;}

.wrapContent{
	width: 100%;
	height: auto;
	margin: 10px;
	padding: 0px;
}
.productContainer{
	width: 20%;
	height: auto;
	border: 1px solid #F8F8F8;
	float: left;
	position: relative;
}
.productContainer .chosenProduct:hover{
	background-image: linear-gradient(#F8F8F8, #FFFFFF, #F8F8F8);
}
.chosenProduct img{
	width: 90%;
}
.wrapRecProducts{
	width: 65%;
	overflow-x: scroll;
	margin-left: 22%;
}
.wrapRecProducts{
	overflow: hidden;
}
.slideList{	
  --selected-item: 0;
  --total-items: 5;
  list-style-type: none;
  margin: 10px 0;
  padding: 0;
  position: relative;
  left: calc(var(--selected-item) * -100%);
  width: calc(var(--total-items) * 100%);
  transition: left 0.4s cubic-bezier(0.680, -0.550, 0.265, 1.550);
  
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}

.slideList .slide{
	border: 1px solid #F8F8F8;
}
.slideList .slide:hover{
	border: 1px solid #F8F8F8;
	background-image: linear-gradient(#F8F8F8, #FFFFFF, #F8F8F8);
}
.slide img{
	width: 100%;
}
.material-icons.orange600 { color: #FB8C00; }

.buttonShown{
	visibility: visible;
}
.buttonHidden{
	visibility: hidden;
	
}